{% extends 'base.html.twig' %}
{% block title %}Placed marker{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/place_marker.js') }}"></script>
    <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap"></script>
{% endblock %}
{% block body %}
    <div id="map" data-lat="{{ lat }}" data-lng="{{ lng }}" 
    data-icon-option="{{ iconOption }}"></div>
{% endblock %}
